.banner_title,
.about_icon,
.fascolor,
.vis-icon,
.designation,
.contact-item_icon,
.section-title_underline,
.icons,
.footer,
.wrapper .title,
button{
    color: #fa5b07;
}
.wrapper .form .inputfield .btn{
    background-color:#fa5b07;
}


.section-title_underline {
    background: #fa5b07;
}
button:hover{
    background-color: #fa5b07;
}
.contact-item_title{
    text-decoration: underline solid #fa5b07;
}