.banner_title,
.about_icon,
.fascolor,
.vis-icon,
.designation,
.contact-item_icon,
.section-title_underline,
.icons,
.footer,
.wrapper .title
{
    color: #FF2222 ;
}
.wrapper .form .inputfield .btn{
    background-color:#FF2222;
}
.section-title_underline {
    background: #FF2222;
}
button:hover{
    background-color: #FF2222;
}
.contact-item_title{
    text-decoration: underline solid #FF2222;
}

